// app global css in SCSS form
summary { 
    color: white; 
    background-color:white;
}
  
summary:active {
    background-color: transparent;
}

summary:focus {
    background-color: transparent;
}
